

body {
	background-color: #f4f4f4;
	color: white;
	font-family: "Lato";
}

.card{
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
    height: 550px;
    margin: 0 auto;
    width: 400px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 180px;
}

h3{
    color: #252830;
    font-family: "Playfair Display SC";
	font-size: 30px;
	font-weight: 400;
    text-align: center;
}

p{
    color: #000000;
    font-size: 18px;
    font-family: "Playfair Display SC";
    padding: 20px 20px 0;
}

.img{
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/bg_24.png");
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.arrow{
    padding: 20px;
    padding-left: 60px;

}
a{
    text-decoration: none;
    border: solid 2px #000000;
    padding: 10px;
    color: #000000;
}

a:hover{
    background-color: black;
    color: white;
    border: solid 2px #f4f4f4;
}


